body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Custom */
.container-sub-header
{
    height: 150px;
    width: 100%;
    background-color: turquoise;
}

ol > li > ol > li
{
    list-style-type: lower-alpha;
}

 ol > li > ol > li > ol > li
 {
     list-style-type: lower-roman;
 }

.navbar {
    background-color: #5478e4;
    border-color: #1341cb;
}
a.navbar-link {
    color: #fff;
    padding-right: 15px;
}

.img-circle {
    border-radius: 50%;
    padding: 1rem 0;
}

.strong {
    font-weight: bolder;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #adadad
}

.btn-default:hover {
    color: #333;
    background-color: #ebebeb;
    border-color: #adadad;
}