@{
    ViewBag.Title = "Home Page";
}

<div class="panel-heading">
    <p><img class="img-circle" src="http://www.gravatar.com/avatar/4eee09841dab42888b7bf4a12f376b83.png" /><h1>Hi.  I'm Carling!</h1></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Who am I?</h2>
        <p>
            Hello! I'm a software developer in Roswell, Georgia. I like homebrewing, crafting, cycling, cats, and video games. Also, photography, reading, coffee, tea, beer, wine, and walking.
            Oh, and music, science fiction, and soccer. Go Timbers and ATL UTD!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Find me on:</h2>
        <p><a target="_blank" href="http://www.linkedin.com/profile/view?id=3406785"><span>LinkedIn</span></a></p>
        <p><a target="_blank" href="http://stackoverflow.com/users/144501/carling"><span>Stack Overflow</span></a></p>
        <p><a target="_blank" href="https://github.com/carlingkirk"><span>GitHub</span></a></p>
        
    </div>
    <div class="col-md-4">
        <h2>What else do I do?</h2>
        <p><a target="_blank" href="http://steamcommunity.com/id/elationisfacile/">Steam Profile</a></p>
        <p><a target="_blank" href="http://www.ravelry.com/people/elationisfacile"><span>Ravelry Profile</span></a></p>
    </div>
</div>